 //to reset element-ui default css
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}
 .el-container.is-vertical{
   background-color: transparent;
 }

 #demo{
   color:#ffffff;
   font-size:30px;
 }

 #demo:hover{
   color:#1f2d3d;
 }

 .el-tree-node__label
 {
   font-size: 18px;
 }
 .el-button--info.is-plain{
   color: #000000;
 }

.el-upload__input {
  display: none;
}
 .el-table{
   font-size: 18px;
 }
 .el-input__inner{
   font-size: 18px;
 }
 .el-range-editor.el-input__inner{
   padding: 9px 10px 7px 10px;
 }
 .el-range-editor--mini .el-range-input{
   font-size: 18px;
   width: 120px;
   margin-left: 10px;
 }
 .el-button--mini,.el-button--small{
   font-size: 18px;
 }
 .el-button{
   font-size: 18px;
   margin-top: 0px;
 }
 .el-button.is-circle
 {
   padding: 8px;
 }
 .el-tag{
   font-size: 18px;
 }
 .el-main{
   padding: 10px 20px 30px 20px;
 }
 .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title
 {
   background-color: #000000;
 }
 .el-menu-item, .el-submenu__title:hover{
   background-color: #020f3a;
 }

 .el-menu-item{
   background-color: transparent;
   font-size: 18px;
 }

 .el-menu-item:hover{
   background-color: #020f3a;
 }
 .el-menu-item.is-active{
   background-color: #020f3a;
 }
 .el-menu-item:hover:focus{
   background-color: #020f3a;
 }
 .el-menu a{
   color:#020f3a ;
 }
 .el-button-group>.el-button{
   font-size: 14px;
 }


//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}
